<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/signup.css" />
    <title>Workins</title>
  </head>
  <body>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div
              class="card shadow-2-strong card-registration"
              style="border-radius: 15px"
            >
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                <form action="/editprofile" method="post">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          name="fname"
                          id="firstName"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="firstName"
                          >First Name</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          name="lname"
                          id="lastName"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="lastName"
                          >Last Name</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          name="Address"
                          id="firstName"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="firstName"
                          >Address</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          name="city"
                          id="lastName"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="lastName"
                          >City</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          name="state"
                          id="firstName"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="firstName"
                          >State/province</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          name="Country"
                          id="lastName"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="lastName"
                          >Country</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="form-outline datepicker w-100">
                        <input
                          type="text"
                          name="bday"
                          class="form-control form-control-lg"
                          id="birthdayDate"
                        />
                        <label for="birthdayDate" class="form-label"
                          >Birthday</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <h6 class="mb-2 pb-1">Gender:</h6>

                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gen"
                          id="femaleGender"
                          value="option1"
                          checked
                        />
                        <label class="form-check-label" for="femaleGender"
                          >Female</label
                        >
                      </div>

                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gen"
                          id="maleGender"
                          value="option2"
                        />
                        <label class="form-check-label" for="maleGender"
                          >Male</label
                        >
                      </div>

                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gen"
                          id="otherGender"
                          value="option3"
                        />
                        <label class="form-check-label" for="otherGender"
                          >Other</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="email"
                          id="emailAddress"
                          class="form-control form-control-lg"
                          name="email"
                          required
                        />
                        <label class="form-label" for="emailAddress"
                          >Email</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="tel"
                          name="call"
                          id="phoneNumber"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="phoneNumber"
                          >Phone Number</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="branch"
                          name="branch"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="branch">Branch</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="managerid"
                          name="mid"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="managerid"
                          >Manager ID</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="mood"
                          name="mood"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="branch">mood in emoji</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="profession"
                          name="profession"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="profession"
                          >Profession</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="college"
                          name="college"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="branch">College/University</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="allergy"
                          name="allergy"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="managerid"
                          >Allergy </label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="parent1"
                          name="parent1"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="branch">Parent1/ Guardian</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="pcell1"
                          name="pcell1"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="managerid"
                          >Contact Number</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="parent2"
                          name="parent2"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="branch">Parent2/ Guardian</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="pcell2"
                          name="pcell2"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="managerid"
                          >Contact Number</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="parent2"
                          name="parent2"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="branch">Parent2/ Guardian</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="pcell2"
                          name="pcell2"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="managerid"
                          >Contact Number</label
                        >
                      </div>
                    </div>
                  </div>

                  

                  <!-- <div class="row">
                    <div class="col-12">
                      <select class="select form-control-lg">
                        <option value="1" disabled>Choose option</option>
                        <option value="2">Subject 1</option>
                        <option value="3">Subject 2</option>
                        <option value="4">Subject 3</option>
                      </select>
                      <label class="form-label select-label"
                        >Choose option</label
                      >
                    </div>
                  </div> -->

                  <div class="mt-4 pt-2">
                    <input
                      class="btn btn-primary btn-lg"
                      type="submit"
                      value="Submit"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
